<div id="<%= dom_id employee %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= employee.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= employee.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Department:</strong>
    <%= employee.department %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Employee:</strong>
    <%= employee.employee_id %>
  </p>

</div>
