<div id="<%= dom_id bicycle %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Model:</strong>
    <%= bicycle.model %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= bicycle.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Battery level:</strong>
    <%= bicycle.battery_level %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last maintenance:</strong>
    <%= bicycle.last_maintenance %>
  </p>

</div>
