<%= content_tag :div, id: dom_id(bicycle) do %>
  <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
    <dl class="sm:divide-y sm:divide-gray-200">
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500"><%= t('activerecord.attributes.bicycle.model') %></dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= bicycle.model %>
        </dd>
      </div>
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500"><%= t('activerecord.attributes.bicycle.status') %></dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full
             <%= case bicycle.status
                 when 'available' then 'bg-green-100 text-green-800'
                 when 'reserved' then 'bg-yellow-100 text-yellow-800'
                 when 'in_repair' then 'bg-red-100 text-red-800'
                 else 'bg-gray-100 text-gray-800'
                 end %>">
            <%= t("statuses.#{bicycle.status}") %>
          </span>
        </dd>
      </div>
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500"><%= t('activerecord.attributes.bicycle.battery_level') %></dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <div class="relative pt-1">
            <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-gray-200">
              <div style="width:<%= bicycle.battery_level %>%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-green-500"></div>
            </div>
          </div>
          <%= bicycle.battery_level %>%
        </dd>
      </div>
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500"><%= t('activerecord.attributes.bicycle.last_maintenance') %></dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= l(bicycle.last_maintenance, format: :long) %>
        </dd>
      </div>
    </dl>
  </div>
<% end %>