<div id="<%= dom_id reservation %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Employee:</strong>
    <%= reservation.employee_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bicycle:</strong>
    <%= reservation.bicycle_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Start time:</strong>
    <%= reservation.start_time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">End time:</strong>
    <%= reservation.end_time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Purpose:</strong>
    <%= reservation.purpose %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= reservation.status %>
  </p>

</div>
